In [ ]:
#Instructon that been followed from given website (mentioned below)
#https://regenerativetoday.com/30-very-useful-pandas-functions-for-everyday-data-analysis-tasks/

In [ ]:
#Instructon that been followed from given website (mentioned below)
#https://regenerativetoday.com/30-very-useful-pandas-functions-for-everyday-data-analysis-tasks/

In [ ]:
# Importing Required Libraries
import numpy as np
import pandas as pd
#here we setting the colums should be 100
pd.set_option('display.max_columns',100)

In [ ]:
# Importing data sets
df = pd.read_csv("data sets/hotel_bookings.csv")

In [ ]:
#to find more information or (null_values or outlayers) in given data set
df.info()
df.isnull().sum()

In [3]:
#this function used to list 5 rows
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [6]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [9]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [10]:
len(df)

119390

In [15]:
df.iloc[:10, 5:10]

,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults
0,27,1,0,0,2
1,27,1,0,0,2
2,27,1,0,1,1
3,27,1,0,1,1
4,27,1,0,2,2
5,27,1,0,2,2
6,27,1,0,2,2
7,27,1,0,2,2
8,27,1,0,3,2
9,27,1,0,3,2

In [17]:
df.loc[[3, 10, 14, 23]]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
10,Resort Hotel,1,23,2015,July,27,1,0,4,2,0.0,0,BB,PRT,Online TA,TA/TO,0,0,0,E,E,0,No Deposit,240.0,NaN,0,Transient,123.00,0,0,Canceled,2015-06-23
14,Resort Hotel,0,37,2015,July,27,1,0,4,2,0.0,0,BB,PRT,Online TA,TA/TO,0,0,0,E,E,0,No Deposit,241.0,NaN,0,Transient,94.71,0,0,Check-Out,2015-07-05
23,Resort Hotel,0,72,2015,July,27,1,2,4,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,D,D,1,No Deposit,250.0,NaN,0,Transient,99.67,0,1,Check-Out,2015-07-07

In [18]:
df.meal.dtypes

dtype('O')

In [19]:
df.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

In [21]:
df.select_dtypes(include='int')

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,days_in_waiting_list,required_car_parking_spaces,total_of_special_requests
0,0,342,2015,27,1,0,0,2,0,0,0,0,3,0,0,0
1,0,737,2015,27,1,0,0,2,0,0,0,0,4,0,0,0
2,0,7,2015,27,1,0,1,1,0,0,0,0,0,0,0,0
3,0,13,2015,27,1,0,1,1,0,0,0,0,0,0,0,0
4,0,14,2015,27,1,0,2,2,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0,23,2017,35,30,2,5,2,0,0,0,0,0,0,0,0
119386,0,102,2017,35,31,2,5,3,0,0,0,0,0,0,0,2
119387,0,34,2017,35,31,2,5,2,0,0,0,0,0,0,0,4
119388,0,109,2017,35,31,2,5,2,0,0,0,0,0,0,0,0
119389,0,205,2017,35,29,2,7,2,0,0,0,0,0,0,0,2

In [23]:
Insert_col = np.random.randint(100, size=len(df))
df.insert(3, 'Insert_col', Insert_col)
df.head()

,hotel,is_canceled,lead_time,Insert_col,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,82,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,84,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,15,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,38,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,39,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [24]:
df[['babies','meal']].cumsum()

        babies                                               meal
0            0                                                 BB
1            0                                               BBBB
2            0                                             BBBBBB
3            0                                           BBBBBBBB
4            0                                         BBBBBBBBBB
...        ...                                                ...
119385     949  BBBBBBBBBBBBBBFBBBHBBBHBBBHBBBBBBBBBBBBBBBBBBB...
119386     949  BBBBBBBBBBBBBBFBBBHBBBHBBBHBBBBBBBBBBBBBBBBBBB...
119387     949  BBBBBBBBBBBBBBFBBBHBBBHBBBHBBBBBBBBBBBBBBBBBBB...
119388     949  BBBBBBBBBBBBBBFBBBHBBBHBBBHBBBBBBBBBBBBBBBBBBB...
119389     949  BBBBBBBBBBBBBBFBBBHBBBHBBBHBBBBBBBBBBBBBBBBBBB...

[119390 rows x 2 columns]

In [25]:
df.sample(n=200)

,hotel,is_canceled,lead_time,Insert_col,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
70061,City Hotel,1,87,11,2017,June,23,9,0,2,2,0.0,0,BB,FRA,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,9.0,NaN,0,Transient,152.00,0,0,Canceled,2017-03-15
108399,City Hotel,0,79,69,2017,March,12,25,0,1,2,0.0,0,BB,BEL,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,9.0,NaN,0,Transient,106.20,0,1,Check-Out,2017-03-26
102085,City Hotel,0,64,9,2016,November,48,20,2,1,2,0.0,0,SC,HUN,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,9.0,NaN,0,Transient,79.20,0,1,Check-Out,2016-11-23
63587,City Hotel,1,194,23,2017,February,7,14,0,5,1,0.0,0,SC,PRT,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,7.0,NaN,0,Transient,54.32,0,1,No-Show,2017-02-14
60381,City Hotel,1,68,18,2016,November,46,7,1,3,1,0.0,0,BB,USA,Online TA,GDS,0,0,0,E,E,2,No Deposit,195.0,NaN,0,Transient,220.00,0,2,No-Show,2016-11-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9048,Resort Hotel,1,8,70,2016,October,44,25,0,1,1,0.0,0,BB,PRT,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,8.0,NaN,0,Transient,40.00,0,0,No-Show,2016-10-25
40392,City Hotel,0,132,64,2015,July,30,23,2,5,0,0.0,0,HB,PRT,Groups,TA/TO,0,0,0,A,A,4,No Deposit,1.0,NaN,0,Transient-Party,0.00,0,0,Check-Out,2015-07-30
35006,Resort Hotel,0,29,54,2017,April,14,6,2,3,2,0.0,0,BB,IRL,Online TA,TA/TO,0,0,0,E,E,0,No Deposit,240.0,NaN,0,Transient,107.00,0,1,Check-Out,2017-04-11
52941,City Hotel,1,28,58,2016,June,25,14,0,3,1,0.0,0,BB,PRT,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,7.0,NaN,0,Transient,108.42,0,0,Canceled,2016-06-07
13047,Resort Hotel,1,23,72,2017,July,30,29,2,3,3,1.0,0,HB,LUX,Online TA,TA/TO,0,0,0,H,H,0,No Deposit,240.0,NaN,0,Transient,363.00,0,0,Canceled,2017-07-09

In [26]:
df['Insert_col'].where(df['Insert_col']>50)

0         82.0
1         84.0
2          NaN
3          NaN
4          NaN
          ...
119385     NaN
119386     NaN
119387    70.0
119388     NaN
119389     NaN
Name: Insert_col, Length: 119390, dtype: float64

In [28]:
df.hotel.unique()

array(['Resort Hotel', 'City Hotel'], dtype=object)

In [29]:
df.hotel.nunique()

2

In [30]:
df['rank_no'] = df['booking_changes'].rank()

In [31]:
agent = [304,250,240]
df[df.agent.isin(df)]

Empty DataFrame
Columns: [hotel, is_canceled, lead_time, Insert_col, arrival_date_year, arrival_date_month, arrival_date_week_number, arrival_date_day_of_month, stays_in_weekend_nights, stays_in_week_nights, adults, children, babies, meal, country, market_segment, distribution_channel, is_repeated_guest, previous_cancellations, previous_bookings_not_canceled, reserved_room_type, assigned_room_type, booking_changes, deposit_type, agent, company, days_in_waiting_list, customer_type, adr, required_car_parking_spaces, total_of_special_requests, reservation_status, reservation_status_date, rank_no]
Index: []

In [32]:
df.replace(1.0,1.1)

,hotel,is_canceled,lead_time,Insert_col,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,rank_no
0,Resort Hotel,0.0,342.0,82.0,2015,July,27.0,1.1,0.0,0.0,2.0,0.0,0.0,BB,PRT,Direct,Direct,0.0,0.0,0.0,C,C,3.0,No Deposit,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01,118284.0
1,Resort Hotel,0.0,737.0,84.0,2015,July,27.0,1.1,0.0,0.0,2.0,0.0,0.0,BB,PRT,Direct,Direct,0.0,0.0,0.0,C,C,4.0,No Deposit,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01,118935.5
2,Resort Hotel,0.0,7.0,15.0,2015,July,27.0,1.1,0.0,1.1,1.1,0.0,0.0,BB,GBR,Direct,Direct,0.0,0.0,0.0,A,C,0.0,No Deposit,NaN,NaN,0.0,Transient,75.00,0.0,0.0,Check-Out,2015-07-02,50657.5
3,Resort Hotel,0.0,13.0,38.0,2015,July,27.0,1.1,0.0,1.1,1.1,0.0,0.0,BB,GBR,Corporate,Corporate,0.0,0.0,0.0,A,A,0.0,No Deposit,304.0,NaN,0.0,Transient,75.00,0.0,0.0,Check-Out,2015-07-02,50657.5
4,Resort Hotel,0.0,14.0,39.0,2015,July,27.0,1.1,0.0,2.0,2.0,0.0,0.0,BB,GBR,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,No Deposit,240.0,NaN,0.0,Transient,98.00,0.0,1.1,Check-Out,2015-07-03,50657.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0.0,23.0,13.0,2017,August,35.0,30.0,2.0,5.0,2.0,0.0,0.0,BB,BEL,Offline TA/TO,TA/TO,0.0,0.0,0.0,A,A,0.0,No Deposit,394.0,NaN,0.0,Transient,96.14,0.0,0.0,Check-Out,2017-09-06,50657.5
119386,City Hotel,0.0,102.0,45.0,2017,August,35.0,31.0,2.0,5.0,3.0,0.0,0.0,BB,FRA,Online TA,TA/TO,0.0,0.0,0.0,E,E,0.0,No Deposit,9.0,NaN,0.0,Transient,225.43,0.0,2.0,Check-Out,2017-09-07,50657.5
119387,City Hotel,0.0,34.0,70.0,2017,August,35.0,31.0,2.0,5.0,2.0,0.0,0.0,BB,DEU,Online TA,TA/TO,0.0,0.0,0.0,D,D,0.0,No Deposit,9.0,NaN,0.0,Transient,157.71,0.0,4.0,Check-Out,2017-09-07,50657.5
119388,City Hotel,0.0,109.0,35.0,2017,August,35.0,31.0,2.0,5.0,2.0,0.0,0.0,BB,GBR,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,No Deposit,89.0,NaN,0.0,Transient,104.40,0.0,0.0,Check-Out,2017-09-07,50657.5
119389,City Hotel,0.0,205.0,1.1,2017,August,35.0,29.0,2.0,7.0,2.0,0.0,0.0,HB,DEU,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,No Deposit,9.0,NaN,0.0,Transient,151.20,0.0,2.0,Check-Out,2017-09-07,50657.5

In [33]:
df.rename(columns={"Insert_col":"insertcolumn"})

,hotel,is_canceled,lead_time,insertcolumn,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,rank_no
0,Resort Hotel,0,342,82,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01,118284.0
1,Resort Hotel,0,737,84,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01,118935.5
2,Resort Hotel,0,7,15,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02,50657.5
3,Resort Hotel,0,13,38,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02,50657.5
4,Resort Hotel,0,14,39,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03,50657.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,13,2017,August,35,30,2,5,2,0.0,0,BB,BEL,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06,50657.5
119386,City Hotel,0,102,45,2017,August,35,31,2,5,3,0.0,0,BB,FRA,Online TA,TA/TO,0,0,0,E,E,0,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07,50657.5
119387,City Hotel,0,34,70,2017,August,35,31,2,5,2,0.0,0,BB,DEU,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07,50657.5
119388,City Hotel,0,109,35,2017,August,35,31,2,5,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07,50657.5
119389,City Hotel,0,205,1,2017,August,35,29,2,7,2,0.0,0,HB,DEU,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07,50657.5

In [35]:
df['company'].fillna(0, inplace=True)

In [38]:
df['company'].fillna(df['company'].mean(), inplace = True)

In [39]:
df.groupby("hotel")['adults'].sum()

hotel
City Hotel      146838
Resort Hotel     74798
Name: adults, dtype: int64

In [40]:
df.adults.pct_change()

0              NaN
1         0.000000
2        -0.500000
3         0.000000
4         1.000000
            ...
119385    0.000000
119386    0.500000
119387   -0.333333
119388    0.000000
119389    0.000000
Name: adults, Length: 119390, dtype: float64

In [41]:
df.count()

hotel                             119390
is_canceled                       119390
lead_time                         119390
Insert_col                        119390
arrival_date_year                 119390
arrival_date_month                119390
arrival_date_week_number          119390
arrival_date_day_of_month         119390
stays_in_weekend_nights           119390
stays_in_week_nights              119390
adults                            119390
children                          119386
babies                            119390
meal                              119390
country                           118902
market_segment                    119390
distribution_channel              119390
is_repeated_guest                 119390
previous_cancellations            119390
previous_bookings_not_canceled    119390
reserved_room_type                119390
assigned_room_type                119390
booking_changes                   119390
deposit_type                      119390
agent                             103050
company                           119390
days_in_waiting_list              119390
customer_type                     119390
adr                               119390
required_car_parking_spaces       119390
total_of_special_requests         119390
reservation_status                119390
reservation_status_date           119390
rank_no                           119390
dtype: int64

In [42]:
df['babies'].value_counts()

0     118473
1        900
2         15
10         1
9          1
Name: babies, dtype: int64

In [61]:
pd.crosstab(df['arrival_date_week_number'],df['arrival_date_year'])

arrival_date_year         2015  2016  2017
arrival_date_week_number
1                            0   227   820
2                            0   397   821
3                            0   449   870
4                            0   573   914
5                            0   569   818
6                            0   696   812
7                            0   949  1160
8                            0   993  1223
9                            0   996  1121
10                           0  1027  1122
11                           0   899  1171
12                           0  1050  1033
13                           0  1341  1075
14                           0  1003  1261
15                           0  1270  1419
16                           0  1176  1229
17                           0  1339  1466
18                           0  1437  1489
19                           0  1129  1273
20                           0  1263  1522
21                           0  1452  1402
22                           0  1060  1486
23                           0  1317  1304
24                           0  1203  1295
25                           0  1468  1195
26                           0  1059  1332
27                         359  1126  1179
28                         485  1014  1354
29                         693  1001  1069
30                         770  1106  1211
31                         579  1030  1132
32                         852  1099  1094
33                        1168  1185  1227
34                         770  1215  1055
35                         773  1087   733
36                        1031  1136     0
37                        1132  1097     0
38                        1371  1290     0
39                        1304  1277     0
40                        1028  1369     0
41                        1401  1298     0
42                        1222  1534     0
43                         932  1420     0
44                         866  1406     0
45                         545  1396     0
46                         421  1153     0
47                         684  1001     0
48                         614   890     0
49                         845   937     0
50                         607   898     0
51                         315   618     0
52                         490   705     0
53                         739  1077     0

In [60]:
pd.qcut(df['arrival_date_year'],q = 2)

0         (2014.999, 2016.0]
1         (2014.999, 2016.0]
2         (2014.999, 2016.0]
3         (2014.999, 2016.0]
4         (2014.999, 2016.0]
                 ...
119385      (2016.0, 2017.0]
119386      (2016.0, 2017.0]
119387      (2016.0, 2017.0]
119388      (2016.0, 2017.0]
119389      (2016.0, 2017.0]
Name: arrival_date_year, Length: 119390, dtype: category
Categories (2, interval[float64, right]): [(2014.999, 2016.0] < (2016.0, 2017.0]]

In [59]:
pd.cut(df['adults'], bins = 1).value_counts()

(-0.055, 55.0]    119390
Name: adults, dtype: int64

In [53]:
df['arrival_date_year'].describe()

count    119390.000000
mean       2016.156554
std           0.707476
min        2015.000000
25%        2016.000000
50%        2016.000000
75%        2017.000000
max        2017.000000
Name: arrival_date_year, dtype: float64

In [54]:
df.nlargest(5,"adults")

,hotel,is_canceled,lead_time,Insert_col,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,rank_no
2173,Resort Hotel,1,338,61,2015,October,41,4,2,0,55,0.0,0,HB,PRT,Direct,Direct,0,0,0,A,A,0,No Deposit,NaN,0.0,0,Group,0.0,0,0,Canceled,2015-01-02,50657.5
1643,Resort Hotel,1,336,1,2015,September,37,7,1,2,50,0.0,0,BB,PRT,Direct,Direct,0,0,0,A,A,0,No Deposit,NaN,0.0,0,Group,0.0,0,0,Canceled,2015-01-18,50657.5
1539,Resort Hotel,1,304,14,2015,September,36,3,0,3,40,0.0,0,BB,PRT,Direct,Direct,0,0,0,A,A,0,No Deposit,NaN,0.0,0,Group,0.0,0,0,Canceled,2015-01-02,50657.5
1917,Resort Hotel,1,349,25,2015,September,39,21,1,3,27,0.0,0,HB,PRT,Direct,Direct,0,0,0,A,A,0,No Deposit,NaN,0.0,0,Group,0.0,0,0,Canceled,2015-01-02,50657.5
1962,Resort Hotel,1,352,25,2015,September,39,24,1,3,27,0.0,0,HB,PRT,Direct,Direct,0,0,0,A,A,0,No Deposit,NaN,0.0,0,Group,0.0,0,0,Canceled,2015-01-02,50657.5

In [64]:
df1=pd.DataFrame({"city": ['A', 'B', 'C'],
                   "day1": [22, 25, 21],
                   'day2':[31, 12, 67],
                   'day3': [27, 20, 15],
                   'day4': [34, 37, [41, 45, 67, 90, 21]],
                   'day5': [23, 54, 36]})
df1

  city  day1  day2  day3                  day4  day5
0    A    22    31    27                    34    23
1    B    25    12    20                    37    54
2    C    21    67    15  [41, 45, 67, 90, 21]    36

In [ ]:
df1.explode(jupyter notebook'day4').reset_index(drop=True)